.navbar {
    background-color: #3b3c3d;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
} 

/* fonts: 
font-family: "Anton", sans-serif;
or
font-family: 'Bebas Neue'; */ 

/* TITLE */

.title {
    width: 33.3%;
    display: flex;
    justify-content: left;
    align-items: center;
}
 
.title > p {
    color: white;
}

.title > img {
    width: 85px;
    height: 65px;
}

/* NAVIGATION LINKS */

.navigation-links {
    
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.navigation-links a {
    font-family: "Anton", sans-serif;
}

.navigation-links ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navigation-links a { 
    color: white; 
    text-decoration: none;
}
 
.navigation-links li.active {
    /* background-color: #555; */
}

.navigation-links li:hover {
    text-shadow: 0px 10px 5px rgba(92, 169, 213, 0.7); 
    /* opacity: 0.5; */
    cursor: pointer;
}



/* METAMASK WALLET */

.wallet {
    width: 33.3%;
    display: flex;
    justify-content: right;
    align-items: center;

}

.wallet > p {
    color: white;
}